<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :defaults %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<p><%= notice %></p>
<p><%= alert %></p>
<%= yield %>

</body>
</html>
